article {
  margin-bottom: 32px;
}

h3 {
  color: #d23669;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 0;
}

.date {
  font-size: 12.8px;
  font-family: 'Merriweather', 'Georgia', serif;
}