article {
  display: inline-flex;
  margin-bottom: 32px;
}

h3 {
  color: #d23669;
  font-family: Montserrat, sans-serif;
  margin-bottom: 10px;
  font-size: 28px;
}

.date {
  font-size: 12.8px;
  font-family: 'Merriweather', 'Georgia', serif;
}