.toggleWrapper {
  display: block;
}

.toggle {
  position: absolute;
  top: 27px;
  right: 30%;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.3rem;
  cursor: pointer;
  color: yellow;
}

.dark {
  background-color: #282c35;
  transition: color 0.2s ease-out, background 0.2s ease-out;

  aside {
    color: white;
  }
}

.light {
  background-color: white;
  transition: color 0.2s ease-out, background 0.2s ease-out;

  h1 {
    color: black;
  }

  .toggle {
    color: orange;
  }
}